package components

templ Dart() {
	<div class="flex flex-col justify-center items-center align-self-center w-25 h-25 p-8 rounded-md bg-gray-600 shadow-sm">
		<div class="text-white font-bold text-4xl">60</div>
		<div class="text-white text-lg">S20</div>
	</div>
}
