// Navigation component
package components

templ Navbar() {
	<nav>
		<ul>
			<li>
				<a href="#" @click="loadContent('/')">Home</a>
			</li>
			<li>
				<a href="#" @click="loadContent('/dashboard')">Dashboard</a>
			</li>
		</ul>
	</nav>
}
