package components

templ Player() {
	<div
		x-data="{ 
		}"
		class="group flex flex-col align-center items-center justify-center gap-10 aspect-[2/3] 
			border border-gray-200 
			hover:border hover:shadow-md
			transition duration-300 rounded-xl p-5"
	>
		<div class="text-8xl font-bold">44</div>
		<div class="w-full flex items-center justify-center gap-4">
			@Dart()
			@Dart()
			@Dart()
		</div>
	</div>
}
