<!-- templates/layouts/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .Title }}{{ .Title }}{{ else }}Your App{{ end }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
</head>
<body>
    <div class="container">
        {{ if .Authenticated }}
            {{ template "components/navbar.html" . }}
        {{ end }}

        {{ if .Success }}
            {{ template "components/success.html" . }}
        {{ end }}
        
        {{ if .Error }}
            {{ template "components/error.html" . }}
        {{ end }}
    </div>
</body>
</html>
